<div class="container">
    <div class="card card-primary">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <button type="submit" style="width: 180px;" class="btn btn-primary float-right" (click)="goToNewUserPage()"><mat-icon>build</mat-icon>Create new user</button>
                </div>
                <div class="col-md-2">
                    <button type="submit" style="width: 180px;" class="float-right btn btn-warning" (click)="goToUserDetailsPage()"><mat-icon>history</mat-icon>User details</button>
                </div>
                <div class="col-md-2">
                    <button type="submit" style="width: 180px;" class="float-right btn btn-success" (click)="goToNewInsuranceRequestPage()"><mat-icon>pan_tool</mat-icon>Raise request</button>
                </div>
            </div>
        </div>
    </div>
</div>
